@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

body,
.scroll-hidden {
  scrollbar-width: none;
}

body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191920;
    color: #fff;
  }
}
